.alert {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;

    background: rgba(250, 194, 72, 0.2);
    color: rgb(255, 188, 189);
    border: 0.2rem solid rgb(255, 187, 77);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    box-shadow: 0 0.5rem 1rem rgba(245, 149, 66, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}